body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #444444;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: 600;
}

p {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 200;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 15px solid #DA0037;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #171717;
    background-color: white;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 70vh;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #EDEDED;
    height: 15vh;
}

.btn {
    background-color: #DA0037;
    color: #EDEDED;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    box-shadow: 5px 5px 5px #171717;
    cursor: pointer;
    font-size: 1rem;
}

button {
    font-weight: bold;
}

.btn:hover {
    background-color: #EDEDED;
    color: #171717;
}

#grid-size {
    color: #171717;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 150px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ff4500, #ff4500);
    background-size: 70% 100%;
    background-repeat: no-repeat;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff4500;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition:  background 0.3s ease-in-out;
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }